modules = ["web", "nodejs-20"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 46935162
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80
